<div id="photos-wrapper">
  <ul id="photos">
    <li><img src="/assets/photo1.jpg"></li>
    <li><img src="/assets/photo2.jpg"></li>
    <li><img src="/assets/photo3.jpg"></li>
    <li><img src="/assets/photo4.jpg"></li>
    <li><img src="/assets/photo5.jpg"></li>
    <li><img src="/assets/photo6.jpg"></li>
  </ul>
</div>
<div id="main-info">
  <h3>Característica do carro:</h3>

  <ul>
    <li>Ford Escort GL 1.8, 16v, gasolina</li>
    <li>Ano 2002</li>
    <li>4 portas</li>
    <li>Direção hidráulica</li>
    <li>Ar condicionado</li>
    <li>Kit gás (cilindros testados em 2012)</li>
    <li>IPVA 2012 pago</li>
    <li>147.700 km rodados</li>
    <li>4 pneus novos</li>
  </ul>

  <h3>Característica da negociação:</h3>

  <ul>
    <li>Pagamento a vista</li>
    <li>Transferência imediata do carro</li>
    <li>O valor de cada lance é de R$ 200,00</li>
    <li>O leilão encerra no dia <strong>27/06/2012 às 23:59h</strong></li>
  </ul>

  <h3>Valor atual:</h3>
  <p id="current_value">R$ <span id="value"><%= @value %></span></p>
  <div class="warning"><p>Gostou da ideia? Dê um lance para testar! =)</p></div>
  <div class="action">
    <p class="button">
      <%= link_to "Dar lance!", "/auth/facebook" %>
    </p>
  </div>
  <center><p>Veja quem deu os lances <%= link_to 'aqui', bids_path %>.</p></center>
</div>