/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Cutive);
@import url(http://fonts.googleapis.com/css?family=Overlock:400,700);

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html, body {
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
}

a {
  color: #317DC4;
}

p {
  padding: 3px 0;
}

p, ul {
  font-family: 'Overlock', cursive;
}

strong {
  font-weight: bold;
}

/* Header */

h1, h2, h3 {
  font-family: 'Cutive', serif;
}

#header {
  height: 200px;
}

#header h2 {
  margin: 80px 0 0 120px;
  display: inline-block;
}

#header h1 {
  display: inline-block;
  margin: 20px 0 0 270px;
  font-size: 40px;
}


/* Main content */

#main-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

#inicial-info {
  margin: 30px 40px;
}

#main-info {
  padding: 0 20px;
  float: right;
  width: 350px;
}

#main-info ul {
  margin: 10px 5px 10px 30px;
}

#photos {
  width: 600px;
}

.bx-wrapper {
  width: 600px;
  float: left;
}

.bx-prev {
  position: absolute;
  top: 225px;
  left: 15px;
  width: 31px;
  height: 31px;
  background: url(/assets/icon_arrow_left.png) no-repeat 0 -31px;
}

.bx-next {
  position: absolute;
  top: 225px;
  left: 550px;
  width: 31px;
  height: 31px;
  background: url(/assets/icon_arrow_right.png) no-repeat 0 -31px
}

.bx-next:hover,
.bx-prev:hover {
  background-position: 0 0;
}

#footer-wrapper {
  margin-top: 40px;
  color: #999;
  background-color: #333;
  padding: 40px 0 80px;
  height: 180px;
}

#footer {
  width: 1000px;
  margin: 0 auto;
}

.action {
  padding: 10px 0;
  border-top: 1px solid #EFEFEF;
  margin-left: 110px;
}

p.button a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-family: 'Cutive', serif;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  background: #065bad;
  box-shadow: inset -2px 2px 0 rgba(255, 255, 255, 0.2), 0 5px 0 #002243;
}

p.button:active {
  padding-top: 5px;
}

p.button:active a {
  box-shadow: inset -2px 2px 0 rgba(255, 255, 255, 0.2);
}

#current_value {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

#my-info {
  margin-top: 10px;
}

#my-info img.my-photo {
  float: left;
  margin-right: 20px;
}

.notice {
  width: 600px;
  margin: 0 0 20px 200px;
  padding: 5px 10px;
  border: 1px solid #0E610E;
  border-radius: 5px;
  text-align: center;
  background-color: #B8ECB8;
  color: #0E610E;
}